/* MIXINS TO HELP WITH ALIGNMENT OF HTML ELEMENTS */


/*VERTICAL ALIGN ELEMENT WITH PERCENT*/
.enc-align-vertical(@percent){
	top: @percent;
	position: relative;
	transform: translateY(-@percent);
}

/*CONTROL BOX SIZING*/
.enc-align-boxsizing(@type: border-box){
	box-sizing: @type;
}