.enc-flex-btn(@font-size: 1rem, 
	@font-size-ratio: 0.01, 
	@line-height: 1.1rem, 
	@line-height-ratio: 0.01,
	@bg-color: #000000,
	@bg-color-opacity: 1,
	@color: #FFFFFF,
	@color-opacity: 1,
	@border-width: 0.01rem,
	@border-style: solid,
	@border-color: #333333,
	@border-radius: 0.01rem,
	@color-hover: #FFFFFF,
	@color-opacity-hover: 1,
	@bg-color-hover: #000000,
	@bg-color-opacity-hover: 1,
	@border-width-hover: 0.01rem,
	@border-style-hover: solid,
	@border-color-hover: #FFFFFF,
	@border-radius-hover: 0.01rem,
	@padding-top: 0.1rem,
	@padding-top-ratio: 0.01,
	@padding-bottom: 0.1rem,
	@padding-bottom-ratio: 0.01,
	@padding-left: 0.1rem,
	@padding-left-ratio: 0.01,
	@padding-right: 0.1rem,
	@padding-right-ratio: 0.01,
	@transition-duration: 1s,
	@transition-ease: ease-in-out){
	.enc-color-rgb(@color, @color-opacity);
	.enc-background-rgb(@bg-color, @bg-color-opacity);
	.enc-create-border(@border-width, @border-style, @border-color, @border-radius);
	.enc-flex-auto(font-size, @font-size, @font-size-ratio);
	.enc-flex-auto(line-height, @line-height, @line-height-ratio);
	.enc-flex-auto(padding-top, @padding-top, @padding-top-ratio);
	.enc-flex-auto(padding-bottom, @padding-bottom, @padding-bottom-ratio);
	.enc-flex-auto(padding-left, @padding-left, @padding-left-ratio);
	.enc-flex-auto(padding-right, @padding-right, @padding-right-ratio);
	.enc-transition(@transition-duration, @transition-ease);
	&:hover{
		.enc-color-rgb(@color-hover, @color-opacity-hover);
		.enc-background-rgb(@bg-color-hover, @bg-color-opacity-hover);
		.enc-create-border(@border-width-hover, @border-style-hover, @border-color-hover, @border-radius-hover);
	}
}
