@import '../../bower_components/normalize-css/normalize.css';
/*Gutter For Grid*/
/*Media Widths Break Points*/
/*Media Tool Widths*/
.enc-container {
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .enc-container {
    width: 768px;
  }
}
@media (min-width: 992px) {
  .enc-container {
    width: 992px;
  }
}
@media (min-width: 1200px) {
  .enc-container {
    width: 1200px;
  }
}
/*
Adjust anything at any of the screen sizes supported by the mixin
*/
/*
Quickly add a cross browser font -- Make sure you have .EOT / .WOFF / .TTF / .SVG for the font
*/
/*
Center-align a block level element
*/
/*
Keep images from scaling beyond the width of their parents.
*/
/*
Create a background with rgb -- this will allow to set the transparency of the element
*/
/*
Easily set a transistion that works for all browers
*/
.enc-navbar:target .enc-navbar-header .enc-navbar-button a {
  display: none;
}
.enc-navbar:target .enc-navbar-header .enc-navbar-button a + a {
  display: block;
}
.enc-navbar:target .enc-navbar-collapse {
  display: block;
}
.enc-navbar-header {
  display: block;
}
@media (min-width: 768px) {
  .enc-navbar-header {
    display: inline-block;
  }
}
.enc-navbar-button {
  float: right;
}
.enc-navbar-button a {
  display: block;
}
.enc-navbar-button a + a {
  display: none;
}
@media (min-width: 768px) {
  .enc-navbar-button {
    display: none;
  }
}
.enc-navbar-brand {
  display: inline-block;
}
.enc-navbar-collapse {
  display: none;
}
@media (min-width: 768px) {
  .enc-navbar-collapse {
    display: inline-block;
  }
}
.enc-nav {
  display: block;
}
.enc-nav li {
  display: block;
}
@media (min-width: 768px) {
  .enc-nav li {
    display: inline-block;
  }
}
/*This is a bare bones menu, created from our building blocks in navbar.less*/
.whatever-want-to-call-your-menu:target .enc-navbar-header .enc-navbar-button a {
  display: none;
}
.whatever-want-to-call-your-menu:target .enc-navbar-header .enc-navbar-button a + a {
  display: block;
}
.whatever-want-to-call-your-menu:target .enc-navbar-collapse {
  display: block;
}
.whatever-want-to-call-your-menu:target .enc-navbar-collapse .enc-nav {
  /* You need to set a height here */
}
.whatever-want-to-call-your-menu .enc-navbar-header {
  display: block;
}
@media (min-width: 768px) {
  .whatever-want-to-call-your-menu .enc-navbar-header {
    display: inline-block;
  }
}
.whatever-want-to-call-your-menu .enc-navbar-header .enc-navbar-brand {
  display: inline-block;
}
.whatever-want-to-call-your-menu .enc-navbar-header .enc-navbar-button {
  float: right;
}
.whatever-want-to-call-your-menu .enc-navbar-header .enc-navbar-button a {
  display: block;
}
.whatever-want-to-call-your-menu .enc-navbar-header .enc-navbar-button a + a {
  display: none;
}
@media (min-width: 768px) {
  .whatever-want-to-call-your-menu .enc-navbar-header .enc-navbar-button {
    display: none;
  }
}
.whatever-want-to-call-your-menu .enc-navbar-collapse {
  display: none;
}
@media (min-width: 768px) {
  .whatever-want-to-call-your-menu .enc-navbar-collapse {
    display: inline-block;
  }
}
.whatever-want-to-call-your-menu .enc-navbar-collapse .enc-nav {
  display: block;
}
.whatever-want-to-call-your-menu .enc-navbar-collapse .enc-nav li {
  display: block;
}
@media (min-width: 768px) {
  .whatever-want-to-call-your-menu .enc-navbar-collapse .enc-nav li {
    display: inline-block;
  }
}
/*This is a bare bones example but with styling*/
.example-menu {
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
  background-color: red;
}
.example-menu:target .enc-navbar-header .enc-navbar-button a {
  display: none;
}
.example-menu:target .enc-navbar-header .enc-navbar-button a + a {
  display: block;
}
.example-menu:target .enc-navbar-collapse {
  display: block;
}
.example-menu:target {
  background-color: #679b00;
  -webkit-border-radius: 50px;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius: 50px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  border-radius: 50px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.example-menu:target .enc-navbar-collapse .enc-nav {
  width: 100%;
  opacity: 1;
}
@media (min-width: 240px) {
  .example-menu:target .enc-navbar-collapse .enc-nav {
    height: 135px;
  }
}
@media (min-width: 320px) {
  .example-menu:target .enc-navbar-collapse .enc-nav {
    height: 0;
  }
}
@media (min-width: 360px) {
  .example-menu:target .enc-navbar-collapse .enc-nav {
    height: 0;
  }
}
@media (min-width: 480px) {
  .example-menu:target .enc-navbar-collapse .enc-nav {
    height: 0;
  }
}
@media (min-width: 533px) {
  .example-menu:target .enc-navbar-collapse .enc-nav {
    height: 0;
  }
}
@media (min-width: 568px) {
  .example-menu:target .enc-navbar-collapse .enc-nav {
    height: 0;
  }
}
@media (min-width: 600px) {
  .example-menu:target .enc-navbar-collapse .enc-nav {
    height: 0;
  }
}
@media (min-width: 640px) {
  .example-menu:target .enc-navbar-collapse .enc-nav {
    height: 0;
  }
}
@media (min-width: 768px) {
  .example-menu:target .enc-navbar-collapse .enc-nav {
    height: 0;
  }
}
@media (min-width: 800px) {
  .example-menu:target .enc-navbar-collapse .enc-nav {
    height: 0;
  }
}
@media (min-width: 853px) {
  .example-menu:target .enc-navbar-collapse .enc-nav {
    height: 0;
  }
}
@media (min-width: 966px) {
  .example-menu:target .enc-navbar-collapse .enc-nav {
    height: 0;
  }
}
@media (min-width: 1024px) {
  .example-menu:target .enc-navbar-collapse .enc-nav {
    height: 0;
  }
}
@media (min-width: 1280px) {
  .example-menu:target .enc-navbar-collapse .enc-nav {
    height: 0;
  }
}
@media (min-width: 1366px) {
  .example-menu:target .enc-navbar-collapse .enc-nav {
    height: 0;
  }
}
@media (min-width: 1400px) {
  .example-menu:target .enc-navbar-collapse .enc-nav {
    height: 0;
  }
}
@media (min-width: 1680px) {
  .example-menu:target .enc-navbar-collapse .enc-nav {
    height: 0;
  }
}
@media (min-width: 1920px) {
  .example-menu:target .enc-navbar-collapse .enc-nav {
    height: 0;
  }
}
.example-menu:target .enc-navbar-collapse .enc-nav li a {
  color: #000;
}
.example-menu .enc-navbar-header {
  display: block;
}
@media (min-width: 768px) {
  .example-menu .enc-navbar-header {
    display: inline-block;
  }
}
.example-menu .enc-navbar-header .enc-navbar-brand {
  display: inline-block;
  color: #fff;
}
@media (min-width: 240px) {
  .example-menu .enc-navbar-header .enc-navbar-brand {
    font-size: 1.5rem;
  }
}
@media (min-width: 320px) {
  .example-menu .enc-navbar-header .enc-navbar-brand {
    font-size: 0;
  }
}
@media (min-width: 360px) {
  .example-menu .enc-navbar-header .enc-navbar-brand {
    font-size: 0;
  }
}
@media (min-width: 480px) {
  .example-menu .enc-navbar-header .enc-navbar-brand {
    font-size: 0;
  }
}
@media (min-width: 533px) {
  .example-menu .enc-navbar-header .enc-navbar-brand {
    font-size: 0;
  }
}
@media (min-width: 568px) {
  .example-menu .enc-navbar-header .enc-navbar-brand {
    font-size: 0;
  }
}
@media (min-width: 600px) {
  .example-menu .enc-navbar-header .enc-navbar-brand {
    font-size: 0;
  }
}
@media (min-width: 640px) {
  .example-menu .enc-navbar-header .enc-navbar-brand {
    font-size: 0;
  }
}
@media (min-width: 768px) {
  .example-menu .enc-navbar-header .enc-navbar-brand {
    font-size: 2rem;
  }
}
@media (min-width: 800px) {
  .example-menu .enc-navbar-header .enc-navbar-brand {
    font-size: 0;
  }
}
@media (min-width: 853px) {
  .example-menu .enc-navbar-header .enc-navbar-brand {
    font-size: 0;
  }
}
@media (min-width: 966px) {
  .example-menu .enc-navbar-header .enc-navbar-brand {
    font-size: 0;
  }
}
@media (min-width: 1024px) {
  .example-menu .enc-navbar-header .enc-navbar-brand {
    font-size: 0;
  }
}
@media (min-width: 1280px) {
  .example-menu .enc-navbar-header .enc-navbar-brand {
    font-size: 0;
  }
}
@media (min-width: 1366px) {
  .example-menu .enc-navbar-header .enc-navbar-brand {
    font-size: 0;
  }
}
@media (min-width: 1400px) {
  .example-menu .enc-navbar-header .enc-navbar-brand {
    font-size: 0;
  }
}
@media (min-width: 1680px) {
  .example-menu .enc-navbar-header .enc-navbar-brand {
    font-size: 0;
  }
}
@media (min-width: 1920px) {
  .example-menu .enc-navbar-header .enc-navbar-brand {
    font-size: 0;
  }
}
.example-menu .enc-navbar-header .enc-navbar-button {
  float: right;
}
.example-menu .enc-navbar-header .enc-navbar-button a {
  display: block;
}
.example-menu .enc-navbar-header .enc-navbar-button a + a {
  display: none;
}
@media (min-width: 768px) {
  .example-menu .enc-navbar-header .enc-navbar-button {
    display: none;
  }
}
@media (min-width: 240px) {
  .example-menu .enc-navbar-header .enc-navbar-button {
    padding-top: 4px;
  }
}
@media (min-width: 320px) {
  .example-menu .enc-navbar-header .enc-navbar-button {
    padding-top: 0;
  }
}
@media (min-width: 360px) {
  .example-menu .enc-navbar-header .enc-navbar-button {
    padding-top: 0;
  }
}
@media (min-width: 480px) {
  .example-menu .enc-navbar-header .enc-navbar-button {
    padding-top: 0;
  }
}
@media (min-width: 533px) {
  .example-menu .enc-navbar-header .enc-navbar-button {
    padding-top: 0;
  }
}
@media (min-width: 568px) {
  .example-menu .enc-navbar-header .enc-navbar-button {
    padding-top: 0;
  }
}
@media (min-width: 600px) {
  .example-menu .enc-navbar-header .enc-navbar-button {
    padding-top: 0;
  }
}
@media (min-width: 640px) {
  .example-menu .enc-navbar-header .enc-navbar-button {
    padding-top: 0;
  }
}
@media (min-width: 768px) {
  .example-menu .enc-navbar-header .enc-navbar-button {
    padding-top: 0;
  }
}
@media (min-width: 800px) {
  .example-menu .enc-navbar-header .enc-navbar-button {
    padding-top: 0;
  }
}
@media (min-width: 853px) {
  .example-menu .enc-navbar-header .enc-navbar-button {
    padding-top: 0;
  }
}
@media (min-width: 966px) {
  .example-menu .enc-navbar-header .enc-navbar-button {
    padding-top: 0;
  }
}
@media (min-width: 1024px) {
  .example-menu .enc-navbar-header .enc-navbar-button {
    padding-top: 0;
  }
}
@media (min-width: 1280px) {
  .example-menu .enc-navbar-header .enc-navbar-button {
    padding-top: 0;
  }
}
@media (min-width: 1366px) {
  .example-menu .enc-navbar-header .enc-navbar-button {
    padding-top: 0;
  }
}
@media (min-width: 1400px) {
  .example-menu .enc-navbar-header .enc-navbar-button {
    padding-top: 0;
  }
}
@media (min-width: 1680px) {
  .example-menu .enc-navbar-header .enc-navbar-button {
    padding-top: 0;
  }
}
@media (min-width: 1920px) {
  .example-menu .enc-navbar-header .enc-navbar-button {
    padding-top: 0;
  }
}
@media (min-width: 240px) {
  .example-menu .enc-navbar-header .enc-navbar-button {
    padding-right: 6px;
  }
}
@media (min-width: 320px) {
  .example-menu .enc-navbar-header .enc-navbar-button {
    padding-right: 0;
  }
}
@media (min-width: 360px) {
  .example-menu .enc-navbar-header .enc-navbar-button {
    padding-right: 0;
  }
}
@media (min-width: 480px) {
  .example-menu .enc-navbar-header .enc-navbar-button {
    padding-right: 0;
  }
}
@media (min-width: 533px) {
  .example-menu .enc-navbar-header .enc-navbar-button {
    padding-right: 0;
  }
}
@media (min-width: 568px) {
  .example-menu .enc-navbar-header .enc-navbar-button {
    padding-right: 0;
  }
}
@media (min-width: 600px) {
  .example-menu .enc-navbar-header .enc-navbar-button {
    padding-right: 0;
  }
}
@media (min-width: 640px) {
  .example-menu .enc-navbar-header .enc-navbar-button {
    padding-right: 0;
  }
}
@media (min-width: 768px) {
  .example-menu .enc-navbar-header .enc-navbar-button {
    padding-right: 0;
  }
}
@media (min-width: 800px) {
  .example-menu .enc-navbar-header .enc-navbar-button {
    padding-right: 0;
  }
}
@media (min-width: 853px) {
  .example-menu .enc-navbar-header .enc-navbar-button {
    padding-right: 0;
  }
}
@media (min-width: 966px) {
  .example-menu .enc-navbar-header .enc-navbar-button {
    padding-right: 0;
  }
}
@media (min-width: 1024px) {
  .example-menu .enc-navbar-header .enc-navbar-button {
    padding-right: 0;
  }
}
@media (min-width: 1280px) {
  .example-menu .enc-navbar-header .enc-navbar-button {
    padding-right: 0;
  }
}
@media (min-width: 1366px) {
  .example-menu .enc-navbar-header .enc-navbar-button {
    padding-right: 0;
  }
}
@media (min-width: 1400px) {
  .example-menu .enc-navbar-header .enc-navbar-button {
    padding-right: 0;
  }
}
@media (min-width: 1680px) {
  .example-menu .enc-navbar-header .enc-navbar-button {
    padding-right: 0;
  }
}
@media (min-width: 1920px) {
  .example-menu .enc-navbar-header .enc-navbar-button {
    padding-right: 0;
  }
}
@media (min-width: 240px) {
  .example-menu .enc-navbar-header .enc-navbar-button {
    font-size: 2.25rem;
  }
}
@media (min-width: 320px) {
  .example-menu .enc-navbar-header .enc-navbar-button {
    font-size: 0;
  }
}
@media (min-width: 360px) {
  .example-menu .enc-navbar-header .enc-navbar-button {
    font-size: 0;
  }
}
@media (min-width: 480px) {
  .example-menu .enc-navbar-header .enc-navbar-button {
    font-size: 0;
  }
}
@media (min-width: 533px) {
  .example-menu .enc-navbar-header .enc-navbar-button {
    font-size: 0;
  }
}
@media (min-width: 568px) {
  .example-menu .enc-navbar-header .enc-navbar-button {
    font-size: 0;
  }
}
@media (min-width: 600px) {
  .example-menu .enc-navbar-header .enc-navbar-button {
    font-size: 0;
  }
}
@media (min-width: 640px) {
  .example-menu .enc-navbar-header .enc-navbar-button {
    font-size: 0;
  }
}
@media (min-width: 768px) {
  .example-menu .enc-navbar-header .enc-navbar-button {
    font-size: 0;
  }
}
@media (min-width: 800px) {
  .example-menu .enc-navbar-header .enc-navbar-button {
    font-size: 0;
  }
}
@media (min-width: 853px) {
  .example-menu .enc-navbar-header .enc-navbar-button {
    font-size: 0;
  }
}
@media (min-width: 966px) {
  .example-menu .enc-navbar-header .enc-navbar-button {
    font-size: 0;
  }
}
@media (min-width: 1024px) {
  .example-menu .enc-navbar-header .enc-navbar-button {
    font-size: 0;
  }
}
@media (min-width: 1280px) {
  .example-menu .enc-navbar-header .enc-navbar-button {
    font-size: 0;
  }
}
@media (min-width: 1366px) {
  .example-menu .enc-navbar-header .enc-navbar-button {
    font-size: 0;
  }
}
@media (min-width: 1400px) {
  .example-menu .enc-navbar-header .enc-navbar-button {
    font-size: 0;
  }
}
@media (min-width: 1680px) {
  .example-menu .enc-navbar-header .enc-navbar-button {
    font-size: 0;
  }
}
@media (min-width: 1920px) {
  .example-menu .enc-navbar-header .enc-navbar-button {
    font-size: 0;
  }
}
.example-menu .enc-navbar-header .enc-navbar-button a {
  color: #fff;
  text-decoration: none;
}
.example-menu .enc-navbar-header .enc-navbar-button a + a {
  color: #fff;
  text-decoration: none;
}
.example-menu .enc-navbar-collapse {
  display: none;
}
@media (min-width: 768px) {
  .example-menu .enc-navbar-collapse {
    display: inline-block;
  }
}
@media (min-width: 240px) {
  .example-menu .enc-navbar-collapse {
    padding-left: 10px;
  }
}
@media (min-width: 320px) {
  .example-menu .enc-navbar-collapse {
    padding-left: 0;
  }
}
@media (min-width: 360px) {
  .example-menu .enc-navbar-collapse {
    padding-left: 0;
  }
}
@media (min-width: 480px) {
  .example-menu .enc-navbar-collapse {
    padding-left: 0;
  }
}
@media (min-width: 533px) {
  .example-menu .enc-navbar-collapse {
    padding-left: 0;
  }
}
@media (min-width: 568px) {
  .example-menu .enc-navbar-collapse {
    padding-left: 0;
  }
}
@media (min-width: 600px) {
  .example-menu .enc-navbar-collapse {
    padding-left: 0;
  }
}
@media (min-width: 640px) {
  .example-menu .enc-navbar-collapse {
    padding-left: 0;
  }
}
@media (min-width: 768px) {
  .example-menu .enc-navbar-collapse {
    padding-left: 0;
  }
}
@media (min-width: 800px) {
  .example-menu .enc-navbar-collapse {
    padding-left: 0;
  }
}
@media (min-width: 853px) {
  .example-menu .enc-navbar-collapse {
    padding-left: 0;
  }
}
@media (min-width: 966px) {
  .example-menu .enc-navbar-collapse {
    padding-left: 0;
  }
}
@media (min-width: 1024px) {
  .example-menu .enc-navbar-collapse {
    padding-left: 0;
  }
}
@media (min-width: 1280px) {
  .example-menu .enc-navbar-collapse {
    padding-left: 0;
  }
}
@media (min-width: 1366px) {
  .example-menu .enc-navbar-collapse {
    padding-left: 0;
  }
}
@media (min-width: 1400px) {
  .example-menu .enc-navbar-collapse {
    padding-left: 0;
  }
}
@media (min-width: 1680px) {
  .example-menu .enc-navbar-collapse {
    padding-left: 0;
  }
}
@media (min-width: 1920px) {
  .example-menu .enc-navbar-collapse {
    padding-left: 0;
  }
}
@media (min-width: 240px) {
  .example-menu .enc-navbar-collapse {
    padding-right: 10px;
  }
}
@media (min-width: 320px) {
  .example-menu .enc-navbar-collapse {
    padding-right: 0;
  }
}
@media (min-width: 360px) {
  .example-menu .enc-navbar-collapse {
    padding-right: 0;
  }
}
@media (min-width: 480px) {
  .example-menu .enc-navbar-collapse {
    padding-right: 0;
  }
}
@media (min-width: 533px) {
  .example-menu .enc-navbar-collapse {
    padding-right: 0;
  }
}
@media (min-width: 568px) {
  .example-menu .enc-navbar-collapse {
    padding-right: 0;
  }
}
@media (min-width: 600px) {
  .example-menu .enc-navbar-collapse {
    padding-right: 0;
  }
}
@media (min-width: 640px) {
  .example-menu .enc-navbar-collapse {
    padding-right: 0;
  }
}
@media (min-width: 768px) {
  .example-menu .enc-navbar-collapse {
    padding-right: 0;
  }
}
@media (min-width: 800px) {
  .example-menu .enc-navbar-collapse {
    padding-right: 0;
  }
}
@media (min-width: 853px) {
  .example-menu .enc-navbar-collapse {
    padding-right: 0;
  }
}
@media (min-width: 966px) {
  .example-menu .enc-navbar-collapse {
    padding-right: 0;
  }
}
@media (min-width: 1024px) {
  .example-menu .enc-navbar-collapse {
    padding-right: 0;
  }
}
@media (min-width: 1280px) {
  .example-menu .enc-navbar-collapse {
    padding-right: 0;
  }
}
@media (min-width: 1366px) {
  .example-menu .enc-navbar-collapse {
    padding-right: 0;
  }
}
@media (min-width: 1400px) {
  .example-menu .enc-navbar-collapse {
    padding-right: 0;
  }
}
@media (min-width: 1680px) {
  .example-menu .enc-navbar-collapse {
    padding-right: 0;
  }
}
@media (min-width: 1920px) {
  .example-menu .enc-navbar-collapse {
    padding-right: 0;
  }
}
.example-menu .enc-navbar-collapse .enc-nav {
  display: block;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  float: left;
  margin: 0;
  padding: 0;
  background-color: transparent;
  list-style-position: outside;
  list-style: none;
}
.example-menu .enc-navbar-collapse .enc-nav li {
  display: block;
}
@media (min-width: 768px) {
  .example-menu .enc-navbar-collapse .enc-nav li {
    display: inline-block;
  }
}
@media (min-width: 240px) {
  .example-menu .enc-navbar-collapse .enc-nav {
    opacity: 0;
  }
}
@media (min-width: 320px) {
  .example-menu .enc-navbar-collapse .enc-nav {
    opacity: 0;
  }
}
@media (min-width: 360px) {
  .example-menu .enc-navbar-collapse .enc-nav {
    opacity: 0;
  }
}
@media (min-width: 480px) {
  .example-menu .enc-navbar-collapse .enc-nav {
    opacity: 0;
  }
}
@media (min-width: 533px) {
  .example-menu .enc-navbar-collapse .enc-nav {
    opacity: 0;
  }
}
@media (min-width: 568px) {
  .example-menu .enc-navbar-collapse .enc-nav {
    opacity: 0;
  }
}
@media (min-width: 600px) {
  .example-menu .enc-navbar-collapse .enc-nav {
    opacity: 0;
  }
}
@media (min-width: 640px) {
  .example-menu .enc-navbar-collapse .enc-nav {
    opacity: 0;
  }
}
@media (min-width: 768px) {
  .example-menu .enc-navbar-collapse .enc-nav {
    opacity: 1;
  }
}
@media (min-width: 800px) {
  .example-menu .enc-navbar-collapse .enc-nav {
    opacity: 0;
  }
}
@media (min-width: 853px) {
  .example-menu .enc-navbar-collapse .enc-nav {
    opacity: 0;
  }
}
@media (min-width: 966px) {
  .example-menu .enc-navbar-collapse .enc-nav {
    opacity: 0;
  }
}
@media (min-width: 1024px) {
  .example-menu .enc-navbar-collapse .enc-nav {
    opacity: 0;
  }
}
@media (min-width: 1280px) {
  .example-menu .enc-navbar-collapse .enc-nav {
    opacity: 0;
  }
}
@media (min-width: 1366px) {
  .example-menu .enc-navbar-collapse .enc-nav {
    opacity: 0;
  }
}
@media (min-width: 1400px) {
  .example-menu .enc-navbar-collapse .enc-nav {
    opacity: 0;
  }
}
@media (min-width: 1680px) {
  .example-menu .enc-navbar-collapse .enc-nav {
    opacity: 0;
  }
}
@media (min-width: 1920px) {
  .example-menu .enc-navbar-collapse .enc-nav {
    opacity: 0;
  }
}
.example-menu .enc-navbar-collapse .enc-nav li:hover {
  background-color: #990000;
  border-radius: 10%;
}
.example-menu .enc-navbar-collapse .enc-nav li a {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  text-decoration: none;
  color: #FFF;
}
@media (min-width: 240px) {
  .example-menu .enc-navbar-collapse .enc-nav li a {
    font-size: 1.5rem;
  }
}
@media (min-width: 320px) {
  .example-menu .enc-navbar-collapse .enc-nav li a {
    font-size: 0;
  }
}
@media (min-width: 360px) {
  .example-menu .enc-navbar-collapse .enc-nav li a {
    font-size: 0;
  }
}
@media (min-width: 480px) {
  .example-menu .enc-navbar-collapse .enc-nav li a {
    font-size: 0;
  }
}
@media (min-width: 533px) {
  .example-menu .enc-navbar-collapse .enc-nav li a {
    font-size: 0;
  }
}
@media (min-width: 568px) {
  .example-menu .enc-navbar-collapse .enc-nav li a {
    font-size: 0;
  }
}
@media (min-width: 600px) {
  .example-menu .enc-navbar-collapse .enc-nav li a {
    font-size: 0;
  }
}
@media (min-width: 640px) {
  .example-menu .enc-navbar-collapse .enc-nav li a {
    font-size: 0;
  }
}
@media (min-width: 768px) {
  .example-menu .enc-navbar-collapse .enc-nav li a {
    font-size: 2rem;
  }
}
@media (min-width: 800px) {
  .example-menu .enc-navbar-collapse .enc-nav li a {
    font-size: 0;
  }
}
@media (min-width: 853px) {
  .example-menu .enc-navbar-collapse .enc-nav li a {
    font-size: 0;
  }
}
@media (min-width: 966px) {
  .example-menu .enc-navbar-collapse .enc-nav li a {
    font-size: 0;
  }
}
@media (min-width: 1024px) {
  .example-menu .enc-navbar-collapse .enc-nav li a {
    font-size: 0;
  }
}
@media (min-width: 1280px) {
  .example-menu .enc-navbar-collapse .enc-nav li a {
    font-size: 0;
  }
}
@media (min-width: 1366px) {
  .example-menu .enc-navbar-collapse .enc-nav li a {
    font-size: 0;
  }
}
@media (min-width: 1400px) {
  .example-menu .enc-navbar-collapse .enc-nav li a {
    font-size: 0;
  }
}
@media (min-width: 1680px) {
  .example-menu .enc-navbar-collapse .enc-nav li a {
    font-size: 0;
  }
}
@media (min-width: 1920px) {
  .example-menu .enc-navbar-collapse .enc-nav li a {
    font-size: 0;
  }
}
