/*
.enc-media-manual-width is used to adjust a CSS property manually at every single screen width size currently supported by enclave.
Addition to allowing you to adjust all the screen width sizes, you can also just use the SM / MD / LG to adjust certian screen sizes.
Breaking the screen width sizes into groups may allow for easier managment of so many screen width sizes.
*/

/* ALL */
.enc-media-manual-width(@property,
@240: 0, @320: 0, @360: 0, @480: 0, @533: 0, @568: 0, @600: 0, @640: 0, 
@768: 0, @800: 0, @853: 0, @900: 0, @966: 0, @1024: 0, @1050: 0, @1080: 0, 
@1200: 0, @1280: 0, @1366: 0, @1440: 0, @1600: 0, @1680: 0, @1920: 0)
{
@media (min-width:@enc-media-width-240){@{property}: @240;}
@media (min-width:@enc-media-width-320){@{property}: @320;}
@media (min-width:@enc-media-width-360){@{property}: @360;}
@media (min-width:@enc-media-width-480){@{property}: @480;}
@media (min-width:@enc-media-width-533){@{property}: @533;}
@media (min-width:@enc-media-width-568){@{property}: @568;}
@media (min-width:@enc-media-width-600){@{property}: @600;}
@media (min-width:@enc-media-width-640){@{property}: @640;}
@media (min-width:@enc-media-width-768){@{property}: @768;}
@media (min-width:@enc-media-width-800){@{property}: @800;}
@media (min-width:@enc-media-width-853){@{property}: @853;}
@media (min-width:@enc-media-width-900){@{property}: @900;}
@media (min-width:@enc-media-width-966){@{property}: @966;}
@media (min-width:@enc-media-width-1024){@{property}: @1024;}
@media (min-width:@enc-media-width-1050){@{property}: @1050;}
@media (min-width:@enc-media-width-1080){@{property}: @1080;}
@media (min-width:@enc-media-width-1200){@{property}: @1200;}
@media (min-width:@enc-media-width-1280){@{property}: @1280;}
@media (min-width:@enc-media-width-1366){@{property}: @1366;}
@media (min-width:@enc-media-width-1440){@{property}: @1440;}
@media (min-width:@enc-media-width-1600){@{property}: @1600;}
@media (min-width:@enc-media-width-1680){@{property}: @1680;}
@media (min-width:@enc-media-width-1920){@{property}: @1920;}
}

/* SM - @240 to @640 */
.enc-media-manual-width-sm(@property,
@240: 0, @320: 0, @360: 0, @480: 0, @533: 0, @568: 0, @600: 0, @640: 0)
{
@media (min-width:@enc-media-width-240){@{property}: @240;}
@media (min-width:@enc-media-width-320){@{property}: @320;}
@media (min-width:@enc-media-width-360){@{property}: @360;}
@media (min-width:@enc-media-width-480){@{property}: @480;}
@media (min-width:@enc-media-width-533){@{property}: @533;}
@media (min-width:@enc-media-width-568){@{property}: @568;}
@media (min-width:@enc-media-width-600){@{property}: @600;}
@media (min-width:@enc-media-width-640){@{property}: @640;}
}

/* MD - @768 to @10801 */
.enc-media-manual-width-md(@property,
@768: 0, @800: 0, @853: 0, @900: 0, @966: 0, @1024: 0, @1050: 0, @1080: 0)
{
@media (min-width:@enc-media-width-768){@{property}: @768;}
@media (min-width:@enc-media-width-800){@{property}: @800;}
@media (min-width:@enc-media-width-853){@{property}: @853;}
@media (min-width:@enc-media-width-900){@{property}: @900;}
@media (min-width:@enc-media-width-966){@{property}: @966;}
@media (min-width:@enc-media-width-1024){@{property}: @1024;}
@media (min-width:@enc-media-width-1050){@{property}: @1050;}
@media (min-width:@enc-media-width-1080){@{property}: @1080;}
}

/*LG - @1200 to @1920 */
.enc-media-manual-width-lg(@property, 
@1200: 0, @1280: 0, @1366: 0, @1440: 0, @1600: 0, @1680: 0, @1920: 0)
{
@media (min-width:@enc-media-width-1200){@{property}: @1200;}
@media (min-width:@enc-media-width-1280){@{property}: @1280;}
@media (min-width:@enc-media-width-1366){@{property}: @1366;}
@media (min-width:@enc-media-width-1440){@{property}: @1440;}
@media (min-width:@enc-media-width-1600){@{property}: @1600;}
@media (min-width:@enc-media-width-1680){@{property}: @1680;}
@media (min-width:@enc-media-width-1920){@{property}: @1920;}
}