

/*


/*
Create a background with rgb -- this will allow to set the transparency of the element
*/
.enc-background-rgb(@opt: 1, @r: 0, @g: 0, @b: 0){
	background-color: rgba(@r,@g,@b,@opt);
}

/*
Easily set a transistion that works for all browers
*/
.enc-transition(@duration:1s, @ease:ease-out) {
  -webkit-transition: all @duration @ease;
  -moz-transition: all @duration @ease;
  -o-transition: all @duration @ease;
  transition: all @duration @ease;
}