/*This is a bare bones menu, created from our building blocks in navbar.less*/
.bare-bones-menu{
	.enc-navbar;
	.enc-navbar-header{
		.enc-navbar-header;
		.enc-navbar-brand{
			.enc-navbar-brand;
		}
		.enc-navbar-button{
			.enc-navbar-button;
		}
	}
	.enc-navbar-collapse{
		.enc-navbar-collapse;
		.enc-nav{
			.enc-nav;
			li{
				a{
				}
			}
		}
	}
}


/*This is a menu that works with transition -- display does not work with transition, hence all the height / width to 0*/
.menu-a{
	.enc-navbar;
	background-color: red;
	&:target .enc-navbar-collapse{
		height: 200px;
		opacity: 1;
		ul{
			padding-left: 15px;
			li{
				a{
					opacity: 1;
					color: #FFF;
					font-size: 1.7rem;
				}
			}
		}
	}
	.enc-navbar-header{
		.enc-navbar-header;
		.enc-navbar-brand{
			.enc-navbar-brand;
		}
		.enc-navbar-button{
			.enc-navbar-button;
			font-size: 2rem;
			a{
				color: #FFF;
				text-decoration: none;
			}
			a + a{
				color: #FFF;
				text-decoration: none;
			}
		}
	}
	.enc-navbar-collapse{
		.enc-navbar-collapse;
		.enc-transition(@duration: 0.5s, @ease: ease-out);
		height: 0;
		opacity: 0;
		display: block;
		@media (min-width: @enc-media-width-768){
			height: auto;
			opacity: 1;
		}	 
		.enc-nav{
			.enc-nav;
			.enc-transition(@duration: 1s, @ease: ease-in-out);
			padding-left: 0;
			li{
				.enc-transition(@duration: 0.5s, @ease: ease-in-out);
				a{
					.enc-transition(@duration: 0.5s, @ease: ease-in-out);
					opacity: 0;
					text-decoration: none;
					font-size: 0;
					@media (min-width: @enc-media-width-768){
						font-size: 1.7rem;
						opacity: 1;
					}
				}
			}
		}
	}
}